.footer{
     background-color: #fff;
     width: 100%;
     padding: 1em;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.3em;
     box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

}
.link{
 color: #5363BB;
  text-decoration: underline;
}